.HomeContainer p {
  text-align: left;
  display: block;
}

.HomeContainer img {
  float: left;
  display: block;
  width: 40%;
  margin-right: 5px;
  border-radius: 2px;
}

.signature {
  float: right;
  font-style: italic;
  margin-right: 10%;
}

@media screen and ( max-width: 500px ) {
  .HomeContainer img {
    width: 100%;
    padding: 5%;
    margin: auto;
  }
}
