.HomeContainer p {
  text-align: left;
}

.HomeContainer img {
  border-radius: 3px;
  display: block;
  float: left;
  margin-right: 1%;
  width: 39%;
}

.signature {
  float: right;
  font-style: italic;
  margin-right: 10%;
}

@media screen and ( max-width: 500px ) {
  .HomeContainer img {
    margin: 5%;
    width: 90%;
  }
}
