.ProjectsContainer {
  display: flex;
  flex-flow: row wrap;
}

.ProjectsContainer div {
  flex: 1 0 100%;
  margin: auto;
  max-width: 45%;
  text-align: center;
}

@media screen and ( max-width: 500px ) {
  .ProjectsContainer div {
    max-width: 95%;
  }
}
