.home-container p {
  text-align: left;
}

.home-container img {
  border-radius: 3px;
  display: block;
  float: left;
  margin-right: 1%;
  width: 37%;
}

.signature {
  float: right;
  font-style: italic;
  margin-right: 3%;
}

@media screen and (max-width: 500px) {
  .home-container img {
    margin: 5%;
    width: 90%;
  }
}
