.contact-container {
  text-align: center;
}

.contact-container img {
  margin-left: 12px;
}

.contact-container p {
  @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
  background-color: rgb(216, 221, 233);
  border-radius: 5px;
  color: rgb(46, 51, 64);
  font-family: 'IBM Plex Mono', mono;
  margin:  10% auto;
  padding: 5px;
  width: 150px;
}
