.HeaderContainer {
  border-bottom: 2px solid rgb(22, 26, 40);
  width: 65%;
  margin: auto;
  margin-bottom: -5px;
}
.HeaderContainer h2 {
  margin-bottom: -5px;
}

.HeaderContainer p {
  font-style: italic;
  font-size: 0.8em;
}
