.navbar {
  background-color: rgb(59, 65, 83);
  box-shadow: -1px -1px 1px rgb(42, 46, 60);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-button {
  background-color: rgb(139, 191, 209);
  border-radius: 2px;
  color: white;
  float: right;
  height: auto;
  margin: 7px 4px 2px 0;
  padding: 5px 10px 5px 10px;
  transition: box-shadow 0.1s;
  width: auto;
}

.navbar-button-closed {
  background-color: rgb(173, 184, 209);
}

.navbar-button:active {
  box-shadow: 0 0 5px black inset;
}

.navbar-menu {
  display: flex;
  height: auto;
  justify-content: space-around;
  margin: auto;
  min-width: 800px;
  width: 45.5%;
}

.navbar-menu-button {
  border-radius: 3px;
  color: white;
  flex: 1 1 auto;
  margin: 7px 10px;
  overflow: hidden;
  padding: 8px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.2s, box-shadow 0.1s;
}

.navbar-menu-button:hover {
  background-color: rgb(86, 95, 118);
}

.active-button {
  background-color: rgb(130, 160, 196);
  box-shadow: 0 0 5px rgb(59, 64, 83) inset;
}

.active-button:hover {
  background-color: rgb(139, 191, 209);
}

@media screen and (max-width: 800px) {
  .navbar {
    bottom: 0;
    padding-bottom: 5px;
    top: auto;
  }

  .navbar-menu {
    flex-direction: column;
    height: auto;
    margin: 0 13.5%;
    min-width: 0;
    width: 75%;
  }
  .navbar-menu-button {
    height: auto;
    margin: 5px 0;
  }

  .navbar-menu-button:hover {
    background-color: inherit;
  }

  .active-button:hover {
    background-color: rgb(130, 160, 196);
  }
}
