.Navbar {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgb(59, 65, 82);
  box-shadow: -1px -1px 1px rgb(42, 46, 60);
}

.Navbar-Button {
  background-color: rgb(126, 161, 187);
  float: right;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  color: white;
}

.Navbar-Button:hover {
  background-color: rgb(176, 211, 237);
}

.Navbar-Button:active {
  box-shadow: 0 0 2px black inset;
}

.Navbar-Menu {
  width: 100%;
  float: left;
  padding: 0 20%;
}

.Navbar-Menu div {
  border-radius: 2px;
  color: white;
  float: left;
  width: 23%;
  background-color: grey;
  padding: 5px;
  margin: 1% 1%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and ( max-width: 500px ) {
  .Navbar-Menu {
    padding: 0 5% 3px 5%;
  }
  .Navbar-Menu div {
    width: 100%;
    margin: 5px 0;
  }
}

.Navbar-Menu div:hover {
  background-color: rgb(191, 191, 191);
}

.Active-Button div {
  box-shadow: 0 0 2px black inset;
}
