.Website {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.MainContainer {
  margin: auto;
  margin-bottom: 50px;
  max-width: 700px;
  min-width: 60%;
  text-align: center;
}

@media screen and ( max-width: 500px ) {
  .MainContainer {
    width: 100%;
  }
}
