.website {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.main-container {
  margin: auto;
  margin-top: 55px;
  min-width: 800px;
  text-align: center;
  width: 45%;
}

@media screen and (max-width: 800px) {
  .main-container {
    margin-bottom: 50px;
    margin-top: auto;
    min-width: 0;
    width: 100%;
  }
}
