.clearButton, .clearButton:link, .clearButton:visited {
  border: 2px solid rgb(59, 65, 82);
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  color: white;
  margin: auto;
  text-decoration: none;
}

.clearButton:hover {
  background-color: rgb(59, 65, 82);
}

.clearButton:active {
  box-shadow: 0 0 2px black inset;
}
